<h1>Formulario por plantilla</h1>
<div class="mt-2">
    <form (ngSubmit)="guardar(forma)" #forma="ngForm" >
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="email" class="form-control"
            name="nombre"
            [(ngModel)]="persona.nombre"
            required
            #nombre="ngModel"
            autocomplete="false"
            minlength="3"
            >
            <div *ngIf="nombre.errors?.required">
                <small>Este campo es requerido</small> 
            </div>
            <div *ngIf="nombre.errors?.minlength">
                <small>Este campo requiere por lo menos {{nombre.errors.minlength.requiredLength}}</small> 
            </div>
          </div>
        
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input type="text" class="form-control"
          [(ngModel)]="persona.apellido"
          name="apellido"
          required
         #apellido="ngModel"
         minlength="4"  
          >
          <div *ngIf="apellido.errors?.required">
            <small>Este campo es requerido</small> 
        </div>
        <div *ngIf="apellido.errors?.minlength">
            <small>Este campo requiere por lo menos {{apellido.errors.minlength.requiredLength}}</small> 
        </div>
        </div>

        <div class="form-group">
            <label for="apellido">Correo</label>
            <input type="email" class="form-control"
            [(ngModel)]="persona.correo"
            name="correo"
            required
           #correo="ngModel"
           minlength="4"  
           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            >
            <div *ngIf="correo.errors?.required">
              <small>Este campo es requerido</small> 
          </div>
          <div *ngIf="correo.errors?.minlength">
              <small>Este campo requiere por lo menos {{correo.errors.minlength.requiredLength}}</small> 
          </div>
          <div *ngIf="correo.errors?.pattern">
            <small>El correo no es valido</small> 
        </div>
          </div>
        
          <div class="form-group">
            <label for="exampleFormControlSelect2">Cliente</label>
            <select class="form-control"
            [(ngModel)]="persona.cliente"
            #cliente="ngModel"
            name="cliente"
            required
            >
              <option *ngFor="let cliente of clientes">
                  {{cliente}}
              </option>
            </select>
            <div *ngIf="cliente.errors?.required">
                <small>Seleccione un cliente</small> 
            </div>
          </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input"
          [(ngModel)]="persona.vacaciones"
          name="vacaciones"
          id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Esta de vacaciones?</label>
        </div>
        <button  type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>
<div class="pt-3">
    <p>{{persona | json}}</p>
</div>